*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html{
  height:100%;
}
.section-center {
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background: url("./2022background2.jpg") no-repeat center;
  background-size: cover;
  margin:0 auto;
}
h3 {
  font-size: 60px;
  text-align: center;
  margin-bottom:10px;
  color:#fe4365;
  font-family: 'Pacifico';
}
.deadline {
  display: flex;
  justify-content: center;
}
.deadline-format {
  background-color: #83AF98;
  font-family: 'Pacifico';
  color: #fff;
  border-radius:15px;
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  display: grid;
  place-items: center;
  text-align: center;
  font-family: 'Kosugi Maru', sans-serif;
}
.deadline-format span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}
.deadline h4 {
  font-size: 3rem;
  margin-bottom: 0.25rem;
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom:10px;
  }
  .deadline-format {
    margin-right: 0.5rem;
    width: 4rem;
    height: 4rem;
  }
  .deadline h4 {
    font-size: 2rem;
  }
}